@font-face {
    font-family: 'Quando';
    src: url('../css/fonts/Quando-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../css/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Numans';
    src: url('../css/fonts/Numans-Regular.ttf') format('truetype');
    font-weight: 400;
}

h1 {
    font-family: 'Quando', serif;
    font-size: 60px;
    align-self: center;
    margin: 20px 0;
}

.white-h1 {
    color: white;
}

.white-p {
    color: white;
}

.subheading {
    font-size: 60px;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    align-self: center;
    margin: 30px 0;
}

p {
    font-family: 'Numans', sans-serif;
    font-size: 20px;
    margin: 20px 0;
    align-self: center;
}

.content-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    margin: 10px 0;
    align-self: center;
}

.content-text {
    font-family: 'Numans', sans-serif;
    font-size: 20px;
    margin: 20px 0;
}

.idiom {
    align-self: center;
}

.header-container {
    background-image: url(assets/hands.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    border-image-source: linear-gradient(hsla(26, 71%, 27%, 0.5), hsla(36, 82%, 35%, 0.3));
    border-image-slice: fill 1;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    margin: 0 300px;
    padding: 50px 100px;
    background-color: hsla(0, 0%, 26%, 0.4);
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dynamic-content-container {
    padding: 50px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar {
    display: flex;
    background-color: #333;
    overflow: hidden;
}
.navbar div {
    flex: 1;    
    padding: 14px 20px;
    text-align: center;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}
.navbar div:hover,
.navbar div.active {
    background-color: #555; /* Background color for hover and active state */
}

.centered-list {
    list-style-type: none;      /* Remove bullet points */
    padding: 0 100px;                 /* Remove default padding */
    text-align: left;         /* Center the text */
}
