@font-face {
    font-family: 'Quando';
    src: url('../css/fonts/Quando-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../css/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Numans';
    src: url('../css/fonts/Numans-Regular.ttf') format('truetype');
    font-weight: 400;
}

h1 {
    font-family: 'Quando', serif;
    font-size: 60px;
    align-self: center;
    margin: 20px 0;
}

.white-h1 {
    color: white;
}

.white-p {
    color: white;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    align-self: center;
    margin: 30px 0;
}

p {
    font-family: 'Numans', sans-serif;
    font-size: 20px;
    margin: 20px 0;
    align-self: center;
}

a {
    color:rgb(255, 247, 136)
}

.dynamic-content-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    margin: 10px 40px;
    align-self: center;
}

.dynamic-content-text {
    font-family: 'Numans', sans-serif;
    font-size: 20px;
    margin: 20px 40px;
}

.idiom {
    align-self: center;
}

.section-container {
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.header-container {
    background-image: url(assets/global_hunger.jpeg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-position: center -950px;
    background-attachment: fixed;
}

.meal-header-contianer {
    background-image: url(assets/meals.jpeg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footer-container {
    display: flex;
    background-color: #333;
    color: white;
}

.overlay {
    border-image-source: linear-gradient(hsla(26, 71%, 27%, 0.5), hsla(36, 82%, 35%, 0.3));
    border-image-slice: fill 1;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    margin: 0 300px;
    padding: 50px 100px;
    background-color: hsla(0, 0%, 26%, 0.7);
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.dynamic-content-container {
    padding: 50px 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.navbar {
    display: flex;
    background-color: #333;
    overflow: hidden;
}
.navbar div {
    flex: 1;    
    padding: 14px 20px;
    text-align: center;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.navbar div:nth-child(1):hover,
.navbar div:nth-child(1).active {
    background-color: #3fa4eb; 
}
.navbar div:nth-child(2):hover,
.navbar div:nth-child(2).active {
    background-color: #fc6822; 
}
.navbar div:nth-child(3):hover,
.navbar div:nth-child(3).active {
    background-color: #2ca02c; 
}

.left-list {
    list-style-type: none;      /* Remove bullet points */
    padding: 0 0px;  
    margin: 0 0;               /* Remove default padding */
    text-align: left;         /* Center the text */
}

.meal-para {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 20px;
}

.note {
    font-family: 'Numans', sans-serif;
    font-size: 15px;
    color: white;
}

.tip {
    font-family: 'Numans', sans-serif;
    font-size: 15px;
}

.impact {
    font-family: 'Work Sans', sans-serif;
    font-size: 100px;
    align-self: center;
}