@font-face {
    font-family: 'Quando';
    src: url('../css/fonts/Quando-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../css/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Numans';
    src: url('../css/fonts/Numans-Regular.ttf') format('truetype');
    font-weight: 400;
}

h1 {
    font-family: 'Quando', serif;
    font-size: 80px;
    align-self: center;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    align-self: center;
}

p {
    font-family: 'Numans', sans-serif;
    font-size: 20px;
}

.w-container {
    width: 100%;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
}
